@import "./../../assets/styles/variabless.scss";
@import "/src/assets/styles/index";

.wrapper {
  position: relative;
  height: $Page-height;
  background-color: #ffffff;
}

.imgBlock2 {
  display: block;
  position: absolute;
  top: 15rem;
  left: 8rem;
  width: 395px;
  height: 395px;
  border-radius: 26px;
  object-fit: cover;
  z-index: +1;
  transition: all ease-in 1000ms;
  transform: translateX(-200px);
  opacity: 0;
}

.slidein {
  transform: translateX(0) ;
  opacity: 1;
}

.descriptionBlock2 {
  position: absolute;
  top: 11rem;
  left: 20rem;
  height: 400px;
  background-color: $backg-col-desc;
  padding: 30px 30px 30px 300px;
  & p {
    font-size: 20px;
  }
}

#btn {
  color: #000000;
  padding: 10px 30px;
  border-width: 2px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1);
  font-size: 1rem;
  letter-spacing: normal;
  border-color: #000000;
  border-radius: 15px;
  &:hover {
    color: #ffffff;
    background-color: #000000;
  }
}

@media screen and (min-width: 2500px) {
  .wrapper {
    height: 70vh;
  }
  .descriptionBlock2 {
    & p {
      font-size: 23px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .imgBlock2 {
    top: 12rem;
    left: 0;
  }

  .descriptionBlock2 {
    top: 8rem;
    left: 8rem;
  }
}

@media (max-width: 1024px) {
  .imgBlock2 {
    top: 3rem;
    left: 0;
  }

  .descriptionBlock2 {
    top: 8rem;
    left: 8rem;
     & .text {
       font-size: 16px;
     }
  }
}

@media screen and (max-width: 880px) {
  .wrapper {
    height: $Page-height-sm;
  }

  .imgBlock2 {
    width: 280px;
    height: 280px;
    top: 4rem;
    left: 3rem;
  }

  .descriptionBlock2 {
    top: 18rem;
    left: 0;
    height: 300px;
    padding: 40px 20px 20px 200px;
    & p {
      text-align: center;
    }
  }
  #mobile {
    align-items: flex-end !important;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    //max-width: 90vw;
  }
  
  .imgBlock2 {
    top: 3rem;
    left: 13rem;
  }

  .descriptionBlock2 {
    padding: 40px 15px 14px 15px;
    .text {
      font-size: 14px;
    }
  }

  #mobile {
    align-items: center !important;
  }
}

@media screen and (max-width: 600px) {
  .imgBlock2 {
    top: 3rem;
    left: 3rem;
  }
}

@media screen and (max-width: 425px) {
  .descriptionBlock2 {
    font-size: 14px;
    height: 350px;
  }
}

@media screen and (max-width: 375px) {
  .imgBlock2 {
    width: 250px;
    top: 2rem;
    left: 0.2rem
  }
}