@import "./../../assets/styles/variabless.scss";

.wrapperBlock1 {
  position: relative;
  height: $Page-height;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("./../../../public/img/wallpaper.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .wrapperBlock1 h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapperBlock1  h1 {
    font-size: 2rem;
  }
  .wrapperBlock1 h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .wrapperBlock1  h1 {
    font-size: 1.5rem;
    line-height: 50px;
  }
  .wrapperBlock1 h2 {
    font-size: 1.2rem;
    line-height: 35px;
  }
}