
.roww {
  height: inherit;
  display: flex;
  justify-content: center;
  align-content: center;
  column-gap: 10px;
}

.images {
  height: 60vh;
  background-color: #adcce9;
  z-index: -4;
  div {
    position: relative;
    .img1 {
      position: absolute;
      width: 99%;
      content: "";
      top: -20px;
      left: -20px;
      z-index: -3;
      border-radius: 20px;
    }

  }
  .img2 {
    position: absolute;
    width: 335px;
    content: "";
    top: 340px;
    right: 50px;
    z-index: -2;
    border-radius: 20px;
  }
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  gap: 25px;
  padding: 30px;
  height: 60vh;
  border-radius: 20px;
  background-color: #e9f2fa;
  .btn1 {
    width: 50%;
  }
}